*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans Condensed', sans-serif;
}
div.center{
   max-width: 1280px;
   padding: 0 2%;
}
div.w33{
   width: 33.3%;
}
div.w50{
   width: 50%;
}
div.clear{
   clear: both;
}
div.left{
   float: left;
}
div.right{
   float: right;
}
header{
   background-color: #4d4d4d;
   padding: 10px 0;
}
.mobile{
   display: none;
}
.desktop{
   float: right;

}
nav.desktop ul{
   float: right;
   text-decoration: none;
   list-style-type: none;
   

}
nav.desktop li{
   display: inline-block;
   padding: 0 2rem;
}
nav.desktop a{
   color:white;
   text-decoration: none;
}
h1.desktop{
   color: white;
}
.banner-principal{
   width: 100%;
   height: 600px;
   background-image: url("../images/background.jpg");
   background-size: cover;
   position: relative;
}
.overlay{
   position: absolute;
   left: 0;
   top: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   background-color:rgba(0, 0, 0, 0.2);
}
section.banner-principal form{
   width: 100%;
   max-width: 600px;
   position: absolute;
   z-index: 2;
   left: 50%;
   top: 50%;
   transform:translate(-50%,-50%) ;
   -ms-transform:translate(-50%,-50%) ;
}
section.banner-principal form h2{
   color: white;
   font-size:30px;
   text-align: center;
   font-weight: 500;
}
section.banner-principal form input[type=email]{
   width: 100%;
   height:66px;
   background-color: white;
   color:black;
   font-size: 22px;
   padding-left: 10px;
   margin-top: 10px;
}
section.banner-principal form input[type=submit]{
   width: 100%;
   height:66px;
   background-color: #4d4d4d;
   color:black;
   font-size: 22px;
   padding-left: 10px;
   margin-top: 10px;
   color: white;
   border: none;
   
}